@import "variables";

.header {
    height: $header-height;
    background-color: $header-bg;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    &__container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .bars {
        display: none;
        font-size: 1.8rem;
        width: 3rem;
        height: 3rem;
        cursor: pointer;
        animation: topToBottom 0.4s;
        i {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__logo {
        a {
            font-size: 2.8rem;
            text-transform: uppercase;
            color: $primary-color;
            letter-spacing: 0.6rem;
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        a {
            color: $text-color;
            padding: 1.6rem 1.2rem;
            position: relative;
            span {
                position: relative;
                top: -1rem;
                font-size: 1.1rem;
                text-transform: uppercase;
        
                &.zero {
                    font-size: 1.4rem;
                    top: -0.8rem;
                    right: -0.5rem;
                    color: $secondary-color;
                }
            }
        }
    }
}

@media screen and (max-width: 48em) {
    .header {
        .bars {
            display: block;
        }

        &__actions {
            a.hiden {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 23.4375em) {
    .header {
        &__logo {
            a {
                font-size: 2.2rem;
            }
        }
    }
    
}

