@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

$header-height: 6rem;
$footer-height: 9rem;

$main-bg: #fff;
$header-bg: #fff;
$footer-bg: #282828;
$black-bg: #333;
$button-bg: #111;

$text-color: #686868;
$primary-color: #282828;
$secondary-color: #DC9814;
$gray-color: #777777;
$gray-light: #aaa;
$gray-lighter: #eee;
$white-color: #fff;
$border-color: #464646;